<div class="card-container">
    <mat-card *ngFor="let item of marketItems">
        <mat-card-header>
            <img mat-card-avatar src="/assets/avatars/{{item.userAvatar}}" onerror="this.src='/assets/avatars/default-avatar.png'">
            <mat-card-title *ngIf="item.user !=''">{{item.user}}</mat-card-title>
            <mat-card-title *ngIf="item.user == ''" class="red-color">Unknown</mat-card-title>
            <mat-card-subtitle *ngIf="item.job != ''">{{item.job}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="item.job == ''" class="red-color">No Job</mat-card-subtitle>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="more">
                <mat-icon svgIcon="dots-vertical"></mat-icon>
            </button>
            <mat-menu #more="matMenu">
                <button mat-menu-item (click)="viewAuthor(item)">
                    <mat-icon svgIcon="account-circle"></mat-icon>
                    <span>Code View</span>
                </button>
                <button mat-menu-item (click)="reportAbuse(item)">
                    <mat-icon svgIcon="alert"></mat-icon>
                    <span>Report Abuse</span>
                </button>
                <button mat-menu-item (click)="showFewerPosts(item.user)">
                    <mat-icon svgIcon="thumb-down"></mat-icon>
                    <span>Show fewer posts from {{item.user}}</span>
                </button>
                <button mat-menu-item (click)="blockUser(item.user)">
                    <mat-icon svgIcon="cancel"></mat-icon>
                    <span>Block {{item.user}}</span>
                </button>
            </mat-menu>
        </mat-card-header>
        <img mat-card-image [alt]="item.name" [src]="'assets/items/' + item.imgSource" *ngIf="item.hasImage">
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-content>
            {{item.description}}
            <br>
            <strong>Price: </strong> {{item.price | currency:USD:false}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Buy</button>
            <button mat-raised-button color="accent">More info</button>
            <span fxFlex></span>
            <button mat-icon-button color="primary" matTooltip="{{commentIsHidden(item.id) ? 'Hide' : 'Show'}} Comments" matTooltipPosition="left" (click)="showComment(item.id)">
                <mat-icon svgIcon="comment"></mat-icon>
            </button>
		</mat-card-actions>
		<mat-card-footer [hidden]="commentIsHidden(item.id)">
			<div class="market-card-comments">
				<mat-list>
					<mat-list-item *ngFor="let comment of item.comments; let i=index;">
						<img mat-list-avatar [src]="comment.avatar" *ngIf="comment.avatar">
						<h4 matLine>{{comment.author}}</h4>
						<p matLine>{{comment.comment}}</p>
						<button mat-icon-button (click)="reply(comment)"><mat-icon svgIcon="message-reply"></mat-icon></button>
					</mat-list-item>
				</mat-list>
				<div class="market-card-comments-end">
					<br>
					<span>It looks like you reached the end.</span>
					<br>
					<span (click)="showNewComment(item.id)" style="text-decoration: underline; cursor: pointer; color: blue;">Post one?</span>
				</div>
				<mat-divider></mat-divider>
				<div class="market-card-new-comment" [hidden]="newCommentIsHidden(item.id)" fxLayout="row">
					<form #newCommentForm="ngForm">
						<mat-form-field color="primary" fxFlex="50">
							<input matInput [(ngModel)]="newComment" placeholder="Comment" required name="newComment">
							<mat-error>This is required</mat-error>
						</mat-form-field>
						<button mat-button (click)="showNewComment(item.id, true)" fxFlex="25">Cancel</button>
						<button mat-button (click)="postComment(newComment)" fxFlex="25" [disabled]="newCommentForm.invalid">Post</button>
					</form>
				</div>
			</div>
		</mat-card-footer>
    </mat-card>
</div>