<h2 matDialogTitle>Preferences</h2>
<mat-dialog-content>
    <mat-tab-group dynamicHeight mat-stretch-tabs>
        <mat-tab label="General">
            <h2>General Preferences</h2>
            <mat-checkbox [(ngModel)]="settings.isDarkTheme">Enable Dark Mode</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="settings.showGreeting">Show Greeting on load</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="settings.openNewTab" color="primary">Open links in a new tab</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="settings.resetWarnings">Reset Warnings</mat-checkbox>
        </mat-tab>
        <mat-tab label="Account">
            <h2>Account Preferences</h2>
            <strong>Name</strong>
            <br>
            <mat-form-field fxFlex>
                <input matInput placeholder="Name" [(ngModel)]="settings.name" required/>
                <mat-error>This is required.</mat-error>
            </mat-form-field>
            <br>
            <strong>Email</strong>
            <br>
            <mat-form-field fxFlex>
                <input matInput placeholder="Email" type="email" [(ngModel)]="settings.email" [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('required')">This is required.</mat-error>
                <mat-error *ngIf="emailFormControl.hasError('pattern')">Please enter a valid email address.</mat-error>
            </mat-form-field>
            <br>
            <strong>Birthday</strong>
            <br>
            <mat-form-field fxFlex color="accent">
                <input matInput [matDatepicker]="birthdayPicker" placeholder="Birthday" required [(ngModel)]="settings.birthday">
                <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #birthdayPicker startView="year" [touchUi]="isMobile"></mat-datepicker>
        </mat-tab>
        <mat-tab label="Experimental">
            <h2>Experimental Preferences</h2>
            <br>
            <mat-form-field>
                <input matInput placeholder="Duration of toasts in milliseconds" value="1000" [(ngModel)]="settings.durationToasts">
            </mat-form-field>
            <br>
            <mat-checkbox [(ngModel)]="settings.newPost" color="warn">Enable New Post</mat-checkbox>
        </mat-tab>
    </mat-tab-group>
    <p class="note">Please refresh your page to apply changes.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="clearSettings(); dialogRef.close('clear')">Clear Settings</button>
    <span fxFlex></span>
    <button mat-button color="primary" (click)="dialogRef.close('cancel')">Cancel</button>
    <button mat-button color="primary" (click)="dialogRef.close(settings)">Save</button>
</mat-dialog-actions>