<h1 matDialogTitle>Versions</h1>
<mat-dialog-content themeColor="isDarkTheme">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Site">
            <h2>Site Version</h2>
            <p>This site is currently running: {{siteVersion}}</p>
        </mat-tab>
        <mat-tab label="Dependencies">
            <h2>Dependencies used</h2>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" matDialogClose>Close</button>
    <span fxFlex></span>
    <button mat-button color="accent" (click)="openUrl('https://github.com/Chan4077/market2')">View Source Code</button>
</mat-dialog-actions>