<h2 md-dialog-title>About This Site</h2>
<md-dialog-content themeColor="isDarkTheme">
    <md-tab-group>
        <md-tab label="Site">
            <h2>Site Version</h2>
            <p>This site is currently running: {{siteVersion}}</p>
        </md-tab>
        <md-tab label="Dependencies">
            <h2>Dependencies used</h2>
            <!--TODO: Add dependencies used-->
        </md-tab>
    </md-tab-group>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" (click)="dialogRef.close()">Save</button>
</md-dialog-actions>