<div class="about-container">
    <h2>About This Site:</h2>
	<p class="note">This site is just a <strong>prototype</strong>. It is just a demo of what a market app would like. It's not working as of now as it is not hooked up to a database or whatsoever.</p>
    <p>Made with <code>Angular 4</code> and <code>Angular Material</code>.</p>
    <p>This was made by <a href="https://github.com/Chan4077">Edric Chan.</a></p>
    <mat-divider></mat-divider>
    <h2>About Me:</h2>
	<h4>Links:</h4>
	<mat-nav-list>
		<a mat-list-item *ngFor="let link of links" [href]="link.link">{{link.title}}</a>
	</mat-nav-list>
</div>