<div class="about-container">
    <h2>About This Site:</h2>
    <p class="note">This site is just a <strong>demo</strong>. It is not predicted to work.</p>
    <p>This was made by Edric Chan.</p>
    <!--<hr />-->
    <md-divider></md-divider>
    <h2>About Me:</h2>
    <h4>Links:</h4>
    <ul>
        <li><a href="https://plus.google.com/+EdricChan03">Google+</a></li>
        <li><a href="https://facebook.com/Chan4077">Facebook</a></li>
        <li><a href="https://instagram.com/chanedric">Instagram</a></li>
    </ul>
</div>