<div fxFill>
    <mat-card fxFlex>
        <mat-card-title>Account Details</mat-card-title>
        <mat-card-content fxLayout="column">
            <span class="note">Update your account particulars or delete your account.</span>
            <br>
            <mat-form-field color="primary">
                <input [(ngModel)]="account.name" placeholder="Name" matInput>
                <span matPrefix><mat-icon svgIcon="account"></mat-icon>&nbsp;</span>
            </mat-form-field>
            <br>
            <mat-form-field color="primary">
                <input type="email" [(ngModel)]="account.email" placeholder="Email" matInput>
                <span matPrefix><mat-icon svgIcon="email"></mat-icon>&nbsp;</span>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="warn"><mat-icon svgIcon="delete"></mat-icon> Delete Account</button>
            <button mat-button color="primary" disabled>Update</button>
        </mat-card-actions>
    </mat-card>
</div>