<div class="start" *ngIf="showSpinner">
    <img src="/assets/logo.png" alt="logo" class="logo">
    <md-progress-spinner mode="indeterminate" color="accent" class="start-indicator"></md-progress-spinner>
</div>
<div [class.dark-theme]="isDarkTheme" class="content" [hidden]="showSpinner">
    <md-sidenav-container fullscreen>
        <md-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
            <button md-icon-button (click)="this.left.toggle()" mdTooltip="Sidenav" mdTooltipPosition="below">
                <md-icon>menu</md-icon>
            </button>
            <h4>Market <strong>2</strong></h4>
            <span flex></span>
            <!--<img md-card-avatar src="../../assets/avatars/default-avatar.png">
            <span class="sign-in">Signed in as Test</span>
            <button md-button>Sign Out</button>-->
            <button md-icon-button (click)="refresh()" mdTooltip="Refresh" mdTooltipPosition="below">
                <md-icon>refresh</md-icon>
            </button>
            <button md-icon-button [mdMenuTriggerFor]="more">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #more="mdMenu">
                <button md-menu-item (click)="openUrl('https://github.com/Chan4077/market2')">
                    <md-icon>code</md-icon>
                    <span>View Source</span>
                </button>
                <button md-menu-item (click)="openSettings()">
                    <md-icon>settings</md-icon>
                    <span>Settings</span>
                </button>
                <button md-menu-item (click)="showVersionInfo()">
                    <md-icon>info</md-icon>
                    <span>Version Info</span>
                </button>
            </md-menu>
            <button md-button (click)="right.toggle()" mdTooltip="Extra" mdTooltipPosition="left">Toggle Right</button>
        </md-toolbar>
        <md-sidenav #left mode="side" opened>
            <md-toolbar color="accent" class="mat-elevation-z4">
                Links
            </md-toolbar>
            <md-nav-list>
                <a md-list-item *ngFor="let link of sidenavLinks" [routerLink]="[link.href]" (click)="left.close(); switchSite(link.name)"
                    routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <md-icon md-list-avatar>{{link.icon}}</md-icon>
                    <h3 md-line>{{link.name}}</h3>
                </a>
            </md-nav-list>
        </md-sidenav>
        <md-sidenav align="end" #right mode="side">
            <md-tab-group>
                <md-tab>
                    <ng-template md-tab-label>
                        <md-icon>chat_bubble</md-icon>
                        <!--<span>Messages</span>-->
                    </ng-template>
                    <h1>Chat</h1>
                </md-tab>
                <md-tab>
                    <ng-template md-tab-label>
                        <md-icon>shopping_cart</md-icon>
                        <!--<span>Shopping list</span>-->
                    </ng-template>
                    <span class="time">Time logged in: {{timeLoggedIn}}</span>
                </md-tab>
            </md-tab-group>
        </md-sidenav>
        <router-outlet></router-outlet>
    </md-sidenav-container>
    <span class="app-action" *ngIf="router.url == '/market'">
        <button md-fab (click)="addItem()" mdTooltip="New Item" mdTooltipPosition="above"><md-icon>add</md-icon></button>
    </span>
</div>