/* You can add global styles to this file, and also import other style files */
/*@import '../../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* Variables */
    --md-icon-blue: blue;
    /* Inactive md-icon */
    --md-icon-inactive: rgba(255, 255, 255, 0.3);
    /* Dark md-icon for dark theme */
    --md-icon-dark: rgba(0, 0, 0, 0.54);
    --color-red: red;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: Roboto, sans-serif;
}
md-sidenav-container {
    background: rgba(0, 0, 0, 0.03);
}

md-card {
    width: 400px;
    box-sizing: border-box;
    margin: 16px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.red-color {
    color: var(--color-red);
    font-weight: 700;
}



/* Material icon styles */
md-icon.md-18 {
    font-size: 18px;
}
md-icon.md-24 {
    font-size: 24px;
}
md-icon.md-36 {
    font-size: 36px;
}
md-icon.md-48 {
    font-size: 48px;
}

/* Dark icon styles */
md-icon.md-dark {
    color: var(--md-icon-dark);
}
md-icon.md-dark.md-inactive {
    color: var(--md-icon-inactive);
}

/* Custom icon styles */
md-icon.orange {
    color: orange;
}
md-icon.yellow {
    color: yellow;
}
md-icon.blue {
    color: var(--md-icon-blue);
}
md-icon.pink {
    color: pink;
}

.sign-in {
    font-size: 10px;
}
.content {
    overflow: auto !important;
}
/*div.mat-tab-body-content {
    margin: 20px;
}*/
.mat-list-avatar {
    height: 25px !important;
    width: 25px !important;
}
.note {
    color: var(--color-red);
}

.start-indicator {
    width: 22px !important;
    height: 22px !important;
}
.start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
.logo {
    height: 192px;
    width: 192px;
}
.tab-icon {
    margin-top: 5px;
}
.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.top-toolbar {
    position: sticky;
    /* For Safari */
    position: -webkit-sticky;
    top: 0;
}
.mat-tab-body-content {
    padding-left: 10px;
}
.bold:not(.overwrite-bold) {
    font-weight: bold;
}

.last-message {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.unread-message {
    font-weight: bold !important;
}
button.mat-simple-snackbar-action {
    text-transform: uppercase;
}
/* Fix icons looking weird */
.mat-icon svg {
	width: 24px;
	height: 24px;
}
.app-sidenav {
    width: 280px;
}