/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~highlight.js/styles/solarized-light.css';
@include mat-core();
@mixin market-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    .active-link {
        color: mat-color($primary) !important;
        background-color: mat-color($background, status-bar) !important;
    }
    .link {
        color: mat-color($accent) !important;
	}
	.unread-badge {
		background-color: mat-color($accent);
	}
}

// Light theme
// Primary (Light)
$market-app-primary: mat-palette($mat-deep-purple);
// Accent (Light)
$market-app-accent: mat-palette($mat-amber, A200, A100, A400);
// Register as light theme
$market-app-theme: mat-light-theme($market-app-primary, $market-app-accent);
// Register theme
@include angular-material-theme($market-app-theme);
@include market-theme($market-app-theme);
.dark-theme {
    // Dark theme
    $market-app-dark-primary: mat-palette($mat-pink, 700);
    $market-app-dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
    $market-app-dark-theme: mat-dark-theme($market-app-dark-primary, $market-app-dark-accent);
    @include angular-material-theme($market-app-dark-theme);
    @include market-theme($market-app-dark-theme);
}

.unread-badge {
	color:#00e60d;
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	border-radius: 50%;
	font-size: 8px;
	line-height: 24px;
	display: inline-block;
	text-align: center;
}
// Styles from styles.css
.market-card-new-comment, .market-card-comments-end {
	padding: 4px;
}
.ripple-container {
    box-shadow: rgba(0, 0, 0, 0.118) 0 10px 15px, rgba(0, 0, 0, 0.239) 0 5px 10px;
    cursor: pointer;
    font-size: 24px;
    height: 150px;
    line-height: 150px;
    position: relative;
    text-align: center;
    transition: all 200ms linear;
    width: 200px;
}
.feature-discovery-toggle-right-btn {
	height: 400px;
	position: absolute;
	right: -200px;
	top: -200px;
	width: 400px;
	z-index: 1000;
	border-radius: 50%;
	p {
		top: 40px;
	}
}

pre,
code {
    font-family: "Roboto Mono", monospace;
}

.mat-menu-item {
    line-height: 24px !important;
}

* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

mat-card {
    width: 400px;
    box-sizing: border-box;
    margin: 16px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.red-color {
    color: red;
    font-weight: 700;
}

.sign-in {
    font-size: 10px;
}

.content {
    overflow: auto !important;
}

.market-card-new-comment {
	width: 100%;
}

.mat-list-avatar {
    height: 25px !important;
    width: 25px !important;
}

.note {
    color: red;
}

mat-spinner.start-indicator svg,
mat-spinner.start-indicator {
    width: 22px !important;
    height: 22px !important;
}

.start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}


/* End styles */

.logo {
    height: 192px;
    width: 192px;
}

.tab-icon {
    margin-top: 5px;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
	right: 20px;
	z-index: 999;
}

.sticky-toolbar {
    position: sticky;
    /* For Safari */
    position: -webkit-sticky;
    top: 0;
}

.mat-tab-body-content {
    padding-left: 10px;
}

.bold:not(.overwrite-bold) {
    font-weight: bold;
}

.last-message {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.unread-message {
    font-weight: bold !important;
}

.mat-button,
.mat-raised-button,
.mat-simple-snackbar-action {
    text-transform: uppercase;
}


/* Fix icons looking weird */

.mat-icon svg {
    width: 24px;
    height: 24px;
}

.app-sidenav {
	min-width: 280px;
	@include mat-elevation(16);
}

.app-content {
    padding: 2.5%;
}

// End styles