<div fxFill>
    <mat-card fxFlex>
        <mat-card-title>Account Details</mat-card-title>
        <mat-card-content fxLayout="column">
			<form #accountForm="ngForm" fxLayout="column">
				<span class="note">Update your account particulars or delete your account.</span>
				<br>
				<mat-form-field color="primary">
					<input [(ngModel)]="account.name" placeholder="Name" matInput required name=
					"name">
					<span matPrefix><mat-icon svgIcon="account"></mat-icon>&nbsp;</span>
					<mat-error>This is required.</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field color="primary">
					<input type="email" [(ngModel)]="account.email" placeholder="Email" matInput required [formControl]="email" [errorStateMatcher]="customErrorStateMatcher" name="email">
					<span matPrefix><mat-icon svgIcon="email"></mat-icon>&nbsp;</span>
					<mat-error>{{getEmailErrorMsg()}}</mat-error>
				</mat-form-field>
				<mat-form-field color="primary">
					<textarea placeholder="Bio" matTextareaAutosize matAutosizeMinRows="2"
					matAutosizeMaxRows="5" matInput name="bio" minlength="3" maxlength="500" #bioInput></textarea>
					<mat-hint>{{bioInput.value.length}} / 500</mat-hint>
				</mat-form-field>
			</form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="warn"><mat-icon svgIcon="delete"></mat-icon> Delete Account</button>
            <button mat-button color="primary" [disabled]="accountForm.invalid">Update</button>
        </mat-card-actions>
    </mat-card>
</div>